.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    padding: 10px;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: hsl(0, 0%, 90%);
}

.form__button {
    text-align: center;
    font-size: 20px;
    background-color: rgb(51, 132, 124);
    border: none;
    color: white;
}

.form__button:hover {
    background-color: rgb(70, 151, 143);
}

.form__button:active {
    background-color: rgb(102, 182, 174);
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }

    .form__button {
        height: 40px;
    }
}