.taskItem {
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content:space-between;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: hsl(0, 0%, 90%);
    align-items: center;
}

.taskItem--done {
    text-decoration: line-through;
}

.taskItem__button { 
    width: 30px;
    height: 30px;
    border-width: 0;
    background-color: #32620e;
    color:white;
}

.taskItem__button--done { 
    background-color: #32620e;
}

.taskItem__button--done:hover {
    background-color: #43781a;
} 

.taskItem__button--done:active {
    background-color: #679b40;
} 

.taskItem__text {
    flex-basis: 100%;
    align-self: flex-start;
    padding: 0 20px 0 20px;
}

.taskItem__button--remove {   
    background-color: red;
}

.taskItem__button--remove:hover {
    background-color: rgb(239, 67, 67);
}

.taskItem__button--remove:active {
    background-color: rgb(233, 110, 110);
}